*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common style */

.font_open_sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border: none;
  background-color: #FD6E0A;
  color: white;
  border-radius: 5px;
}

.btn_set{
  display: flex;
  gap: 30px;
}

/* main style */
header{
  background-color: #FFF8F3;
  background:  url(images/header_bg.png), url(images/developer.png) , #FFF8F3;
  background-position:bottom right , top left;
  background-repeat: no-repeat;
}

#navigation{
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
}

#logo{
  font-size: 45px;
  font-weight: 800;
}

.rletter{
  color: #FD6E0A;
}
#menu{
  display: flex;
  gap: 51px;
  align-items: center;
}

#menu li{
  list-style: none;
  
}

#menu a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;  
}

#hero{
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content{
  max-width: 585px;
  max-height:356px;
}
.banner_content h3{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

.banner_content h1{
  font-size: 85px;
  font-weight: 800;
  color: #181818;
  margin-bottom: 20px;
}

.banner_content p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

#banner_image img{
  vertical-align: middle;
}

